<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Cnct</servlet-name>
        <servlet-class>base.Cnct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cntlr</servlet-name>
        <servlet-class>base.Cntlr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogB</servlet-name>
        <servlet-class>base.LogB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>base.Reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyClient</servlet-name>
        <servlet-class>temp.MyClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatSend</servlet-name>
        <servlet-class>base.ChatSend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatMessageInsert</servlet-name>
        <servlet-class>base.ChatMessageInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cnct</servlet-name>
        <url-pattern>/Cnct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cntlr</servlet-name>
        <url-pattern>/Cntlr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogB</servlet-name>
        <url-pattern>/LogB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/Reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyClient</servlet-name>
        <url-pattern>/MyClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatSend</servlet-name>
        <url-pattern>/ChatSend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatMessageInsert</servlet-name>
        <url-pattern>/ChatMessageInsert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
